<br>
<h4>Outage</h4>
<table>
  <tr style="background-color: grey;">
    <th>Station</th>
    <th>Unit No.</th>
    <th>State</th>
    <th>Agency</th>
    <th>Capacity (MW)</th>
    <th>Outage Date</th>
    <th>Outage Time</th>
    <th>Expected Revival Date</th>
  </tr>
  <tr>
    <td colspan="8" style="width:100%;background-color:lightgrey;height:40px;">Western Region</td>
  </tr>
  <tr>
    <td>MCCPL</td>
    <td>Acbil</td>
    <td>Chhattisgarh</td>
    <td>1</td>
    <td>300</td>
    <td>2018-08-20</td>
    <td>12:00:00</td>
    <td>-</td>
  </tr>
  <tr>
    <td>JPL Stg-II</td>
    <td>Jindal power</td>
    <td>Chhattisgarh</td>
    <td>2</td>
    <td>600</td>
    <td>2018-08-05</td>
    <td>00:00:00</td>
    <td>-</td>
  </tr>
  <tr>
    <td colspan="8" style="width:100%;background-color:lightgrey;height:40px;">Northern Region</td>
  </tr>
  <tr>
    <td>Rajpura(NPL) TPS</td>
    <td>1</td>
    <td>Punjab</td>
    <td>PSEB</td>
    <td>700</td>
    <td>2017-04-10</td>
    <td>19:46:00</td>
    <td>-</td>
  </tr>
  <tr>
    <td>DCRTPP (Yamuna Nagar)</td>
    <td>2</td>
    <td>Haryana</td>
    <td>HPGCL</td>
    <td>300</td>
    <td>2017-04-08</td>
    <td>09:39:00</td>
    <td>-</td>
  </tr>
  <tr>
    <td colspan="8" style="width:100%;background-color:lightgrey;height:40px;">Southern Region</td>
  </tr>
  <tr>
    <td>RAYALASEEMA TPS</td>
    <td>6</td>
    <td>-</td>
    <td>APGENCO</td>
    <td>600</td>
    <td>2018-03-20</td>
    <td>02:17:00</td>
    <td>-</td>
  </tr>
  <tr>
    <td>NEYVELI TS II EXP</td>
    <td>1</td>
    <td>-</td>
    <td>NLC</td>
    <td>250</td>
    <td>2018-03-19</td>
    <td>12:01:00</td>
    <td>-</td>
  </tr>
  <tr>
    <td colspan="8" style="width:100%;background-color:lightgrey;height:40px;">Eastern Region</td>
  </tr>
  <tr>
    <td>BARH</td>
    <td>4</td>
    <td>Bihar</td>
    <td>NTPC</td>
    <td>660</td>
    <td>2017-02-28</td>
    <td>08:36:00</td>
    <td>2017-03-02</td>
  </tr>
  <tr>
    <td>ADHUNIK</td>
    <td>1</td>
    <td>Jharkhand</td>
    <td>ADHUNIK</td>
    <td>270</td>
    <td>2017-02-24</td>
    <td>00:01:00</td>
    <td>2017-03-03</td>
  </tr>
</table>