<div class="dashboard-body">
  <img class="body-background" src="assets/images/body-background-image.jpg" alt=""/>
  <ngb-tabset class="tabs">
    <ngb-tab>
        <ng-template ngbTabTitle><div class="tab-title">Forcasting Dashboard</div></ng-template>
        <ng-template ngbTabContent>
          <app-charts-dropdown></app-charts-dropdown>
        </ng-template>
      </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle><div class="tab-title">SIPROTEC Device Details</div></ng-template>
      <ng-template ngbTabContent>
        <p></p>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle><div class="tab-title">SIPROTEC data</div></ng-template>
      <ng-template ngbTabContent>
        <p></p>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>