<div class="dashboard-body">
  <img class="body-background" src="assets/images/body-background-image.jpg" alt=""/>
  <ngb-tabset class="tabs">
    <ngb-tab>
        <ng-template ngbTabTitle><div class="tab-title">Forcasting Dashboard</div></ng-template>
        <ng-template ngbTabContent>
          <app-charts-dropdown></app-charts-dropdown>
        </ng-template>
    </ngb-tab>
    <!--<ngb-tab>
      <ng-template ngbTabTitle><div class="tab-title">SIPROTEC Device Details</div></ng-template>
      <ng-template ngbTabContent>
        <app-siprotec-device-details></app-siprotec-device-details>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle><div class="tab-title">SIPROTEC data</div></ng-template>
      <ng-template ngbTabContent>
        <app-siprotec-data></app-siprotec-data>
      </ng-template>
    </ngb-tab>-->
    <ngb-tab>
      <ng-template ngbTabTitle><div class="tab-title">Energy Trade</div></ng-template>
      <ng-template ngbTabContent>
          <app-energy-trade></app-energy-trade>
      </ng-template>
  </ngb-tab>
  <ngb-tab>
      <ng-template ngbTabTitle><div class="tab-title">Generation Outage</div></ng-template>
      <ng-template ngbTabContent>
          <app-generation-outage></app-generation-outage>
      </ng-template>
  </ngb-tab>
  </ngb-tabset>
</div>