.footer-div {
    background: linear-gradient(141deg, rgba(203, 225, 248, 0.5) 0%, rgba(170, 183, 196, 0.5) 51%, rgba(223, 202, 186, 0.5) 75%);
    height: 50px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}