<div class="row customDropdownPos">
  <div class="col col-md-4">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary customDropdown" #levelDropDown id="levelDropDown" ngbDropdownToggle>{{selectedLevel}}</button>
      <div ngbDropdownMenu aria-labelledby="levelDropDown">
        <button class="dropdown-item" *ngFor="let level of levels" (click)="ChangeLevel(level)">{{level}}</button>
      </div>
    </div>
  </div>
  <div class="col col-md-7">
    <label class="col-md-2 radio-inline"><input style="margin-right: 7px;" value="line" (click)="changeCharType('line')" type="radio" name="chartType" checked>Line</label>
    <label class="col-md-2 radio-inline"><input style="margin-right: 7px;" value="bar" (click)="changeCharType('bar')" type="radio" name="chartType">Bar</label>
    <label class="col-md-2 radio-inline"><input style="margin-right: 7px;" value="pie" (click)="changeCharType('pie')" type="radio" name="chartType">Pie</label>
  </div>
</div>
  <div *ngIf="selectedLevel=='Energy purchased' && chartType=='line'">
    <app-dashboard-line-chart></app-dashboard-line-chart>
  </div>
  <div *ngIf="selectedLevel=='Energy purchased' && chartType=='bar'">
    <app-dashboard-bar-chart></app-dashboard-bar-chart>
  </div>
  <div *ngIf="selectedLevel=='Energy purchased' && chartType=='pie'">
      <app-dashboard-pie-chart></app-dashboard-pie-chart>
  </div>
  <div *ngIf="selectedLevel=='Energy loss'">
    
  </div>
  <div *ngIf="selectedLevel=='Average monthly, yearly'">
    
  </div>
  <div *ngIf="selectedLevel=='Total Profit'">
    
  </div>
  <div *ngIf="selectedLevel=='Total loss'">
    
  </div>